body{
 margin: 0;
 padding: 0;
 background: #ff;
 font-family: 'Raleway',sans-serif;
 color: #ff;
 
}
.banner{
 height: 100vh;
 width: 100%;
 background-image:url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
 background-blend-mode: lighten;
 background-position: top;
 background-size: cover;
 background-repeat: no-repeat;
}
.banner .info {
 margin-top: 18%;
 transform: translateY(-18%);
}
.banner .info h1{
 font-size: 2.5em;
 font-weight: 700;
 color: black;
 letter-spacing: 2px;
}
.banner .info p{
 font-size: 1.5em;
 font-weight: 500;
 color: #aaa;
 letter-spacing: 2px;
}
.banner .info a{
 margin-left: 50%;

 transform: translateX(-50%);
 color: #ff;
 background: #e91d43;
 padding: 10px 20px;
}
.banner .info a:hover{
 background: #e91e63;
}
